# ==============================================================================
# Environment Configuration Template for Cymbal Retail Agent & Apigee MCP Gateway
# ==============================================================================
PROJECT_ID=<YOUR_GCP_PROJECT_ID>
GOOGLE_CLOUD_PROJECT=<YOUR_GCP_PROJECT_ID>
PROJECT_NUMBER=<YOUR_GCP_PROJECT_NUMBER>
APIGEE_HOST=<YOUR_APIGEE_HOST_OR_IP.nip.io>
APIGEE_ENV=eval
PROXY_URL=https://<YOUR_APIGEE_HOST_OR_IP.nip.io>/v2/samples/adk-cymbal-retail
CLIENT_ID=<YOUR_APIGEE_DEVELOPER_APP_CLIENT_ID>
CLIENT_SECRET=<YOUR_APIGEE_DEVELOPER_APP_CLIENT_SECRET>
VERTEXAI_REGION=us-central1
GOOGLE_CLOUD_LOCATION=us-central1
STAGING_BUCKET=<YOUR_GCP_PROJECT_ID>_cymbal_retail_agent
